html {
  height: 100%;
}

h3 {
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
}

span {
  background-color: #fff;
}

p {
  border-radius: 25px;
  background: forestgreen;
  padding: 20px;
  width: 200px;
  height: auto;
  color: #fff;
}

body {
  height: 100%;
  background-image: url(photo-1503614472-8c93d56e92ce.jpg);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: grid;
  grid-template-rows: min-content min-content auto min-content;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "header header header"
    "navBar navBar navBar"
    "content1 content2 content3"
    "footer footer footer";
}

header {
  grid-area: header;
  margin-left: 44.5%;
  color: #333;
  font-weight: bolder;
  font-size: 20px;
}

.navBar {
  grid-area: navBar;
  align-items: center;
}

.navBar ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  font-weight: bold;
}

.mouseon {
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.9s ease-in-out;
}

.mouseon:hover {
  background-color: forestgreen;
  font-weight: bold;
}

#content1 {
  grid-area: content1;
  border: 2px solid hidden;
  padding: 20px;
  border-radius: 10px;
  color: #333;
}

#content2 {
  grid-area: content2;
  border: 2px solid hidden;
  padding: 20px;
  border-radius: 10px;
  color: #333;
}

#content3 {
  grid-area: content3;
  border: 2px solid hidden;
  padding: 20px;
  border-radius: 10px;
  color: #333;
}

footer {
  grid-area: footer;
  background-color: forestgreen;
  padding: 10px;
  text-align: center;
  height: 6vh;
}

.icons {
  font-size: 22px;
}

.icons i {
  color: white;
  margin: 156px;
  transition: all 0.6s ease-in-out;
}

.icons i:hover {
  color: #000;
  font-size: 36px;
}